PrivateCommands.txt
pihomefuse/
pirootfuse/
node_modules/
npm-debug.log
piatomicclockprojectfuse/
AtomicClock.sublime-project
AtomicClock.sublime-workspace
.DS_Store
Mounting.txt
alarm1.json
alarm2.json
alarm3.json
alarm4.json
time.json
snooze.json
IP.txt
