body {
    font-family: -apple-system, AppleSDGothicNeo-Regular;
}

#main {
  column-count: 2;
}

#alarm1, #alarm2, #alarm3, #alarm4 {
  margin:  -20px 0px 0px 0px;
  padding:  0px 0px 0px 0px;
  
}

.time {
  width: 100px;
  height: 30px;
}

button {
    margin-left: 15px;
    padding: 7px 12px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
}