body {
    font-family: -apple-system, AppleSDGothicNeo-Regular;
}

#main {
  column-count: 2;
  padding:  54px 0px 54px 0px;
}

#alarm1, #alarm2, #alarm3, #alarm4 {
  width: auto;
  margin:  -10px 20px 0px 20px;
  padding:   0px 0px 40px 0px;
  
}

.time {
  width: 100px;
  height: 30px;
}

button {
    margin-left: 15px;
    padding: 7px 12px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}